/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(https://fonts.googleapis.com/css?family=Julius+Sans+One);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  margin: 0;
  height: 100%;
  padding: 0;
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.em {
  font-style: italic; }

strong {
  font-weight: 700; }

h1, h2, h3, h4, h5, h6 {
  color: #2a2b2b;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 0.5em; }

h1 {
  font-size: 32px; }

h2 {
  font-size: 26px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 22px; }

h5 {
  font-size: 20px; }

h6 {
  font-size: 16px; }

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  color: #e6e6e6;
  font-weight: 400; }

h1 small {
  font-size: 28px; }

h2 small {
  font-size: 22.75px; }

h3 small {
  font-size: 21px; }

h4 small {
  font-size: 19.25px; }

h5 small {
  font-size: 17.5px; }

h6 small {
  font-size: 14px; }

@media (min-width: 48em) {
  h1 {
    font-size: 48px; }
  h2 {
    font-size: 40px; }
  h3 {
    font-size: 31px; }
  h4 {
    font-size: 25px; }
  h5 {
    font-size: 20px; }
  h6 {
    font-size: 16px; }
  h1 small {
    font-size: 42px; }
  h2 small {
    font-size: 35px; }
  h3 small {
    font-size: 27.125px; }
  h4 small {
    font-size: 21.875px; }
  h5 small {
    font-size: 17.5px; }
  h6 small {
    font-size: 14px; } }

p {
  color: inherit;
  font-family: Open Sans;
  font-size: .9rem;
  font-weight: 300;
  line-height: 1.6;
  /*margin-bottom: 1em;*/
  margin: .2rem 0 .2rem 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 30em; }

.code {
  font-family: "Consolas", "Courier New", mono; }

ul, .ul {
  list-style-type: disc; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* FONTS */
/*Stock Sight Title*/
/*Form and Main Fonts*/
/* Mixins */
html, body {
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  min-height: 100%; }

input {
  outline: none; }

.home {
  height: 100%; }
  .home .content {
    height: 100%; }
  .home .home-view {
    display: block;
    position: relative;
    margin: 0 auto;
    transform: translateY(-50%);
    top: 50%;
    width: 400px;
    text-align: center; }
    .home .home-view .title {
      font-family: 'Julius Sans One', sans-serif; }

.login-view {
  margin-top: -15px; }
  .login-view .create-account {
    margin-top: -10px; }
  .login-view #login-error {
    margin-bottom: 15px;
    font-size: .8rem; }
  .login-view #entry-error {
    margin-bottom: 15px;
    font-size: .8rem; }
  .login-view #password-error {
    margin-bottom: 15px;
    font-size: .8rem; }
  .login-view #username-error {
    margin-bottom: 15px;
    font-size: .8rem; }
  .login-view form {
    margin-bottom: 7px; }
    .login-view form input {
      width: 225px;
      height: 35px;
      margin-bottom: 6px;
      font-family: Open Sans;
      font-weight: 300;
      font-size: 0.85rem;
      padding-left: 6px;
      letter-spacing: .5px;
      color: #333333; }

button:active {
  outline: none;
  border: none; }

button:focus {
  outline: none;
  border: none; }

.login-buttons .login-button {
  font-family: Open Sans;
  font-weight: 300;
  font-size: .85rem;
  margin-bottom: 5px;
  letter-spacing: .5px;
  color: #e6e6e6;
  background-color: #333333;
  width: 225px;
  height: 35px;
  padding: 0;
  border: none;
  border-radius: 1px; }
  .login-buttons .login-button:hover {
    color: #e6e6e6;
    background-color: #666666; }

.container:after {
  content: '';
  display: block;
  clear: both; }

.container {
  margin: 0 auto;
  max-width: 1040px;
  padding: 0 20px;
  max-width: 64em;
  margin-left: auto;
  margin-right: auto;
  *zoom: 1; }

.container:before, .container:after {
  content: " ";
  display: table; }

.container:after {
  clear: both; }

.main {
  /*text-align: center;*/
  /*margin: 0 auto;
  width: 100%;*/
  /*background-color: blue;*/ }

.login-view {
  display: inline-block; }

.navigation {
  background-color: #999999;
  /*display: flex;*/
  /*text-align: left;*/ }

.navigation::after {
  content: '';
  display: table;
  clear: both; }

.logout-button {
  display: inline-block;
  margin: 20px;
  /*position: absolute;*/
  float: right; }

.username-title {
  display: inline-block;
  margin: 20px;
  /*position: absolute;*/
  float: left; }

.content {
  position: relative; }

.content::after {
  content: '';
  display: table;
  clear: both; }

.sidebar {
  z-index: 10;
  position: absolute;
  width: 150px;
  background-color: #333;
  float: left;
  color: #FFFFFF;
  display: block; }

.chart {
  left: 0;
  padding-left: 150px;
  position: absolute;
  width: 80%;
  display: block;
  background-color: #f2f2f2;
  /*position: absolute;*/
  float: right; }

/*Sidebar*/
.stock-item {
  width: 150px;
  display: inline-block;
  height: 35px; }

.stock-item:hover {
  width: 150px;
  background-color: #444;
  display: inline-block;
  height: 35px; }

.stock-name {
  margin: 8px 0px 5px 15px; }

.remove-stock-btn {
  float: right;
  margin: -23px 10px; }

/* Chart */
