/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  margin: 0;
  height: 100%;
  padding: 0;
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.em { font-style: italic; }

strong { font-weight: 700; }

h1, h2, h3, h4, h5, h6 {
  color: rgb(42, 43, 43);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 0.5em;
}

h1 { font-size: 32px; }

h2 { font-size: 26px; }

h3 { font-size: 24px; }

h4 { font-size: 22px; }

h5 { font-size: 20px; }

h6 { font-size: 16px; }

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  color: rgb(230, 230, 230);
  font-weight: 400;
}
/*
h1 small { font-size: 28px; }

h2 small { font-size: 22.75px; }

h3 small { font-size: 21px; }

h4 small { font-size: 19.25px; }

h5 small { font-size: 17.5px; }

h6 small { font-size: 14px; }

@media (min-width: 48em) {*/
  h1 { font-size: 48px; }
  h2 { font-size: 40px; }
  h3 { font-size: 31px; }
  h4 { font-size: 25px; }
  h5 { font-size: 20px; }
  h6 { font-size: 16px; }

  h1 small { font-size: 42px; }
  h2 small { font-size: 35px; }
  h3 small { font-size: 27.125px; }
  h4 small { font-size: 21.875px; }
  h5 small { font-size: 17.5px; }
  h6 small { font-size: 14px; }
/*}*/

p {
  color: inherit;
  font-family: Open Sans;
  font-size: .9rem;
  font-weight: 300;
  line-height: 1.6;
  /*margin-bottom: 1em;*/
  margin: .2rem 0 .2rem 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 30em;
}

.code {
  font-family: "Consolas", "Courier New", mono;
}

ul, .ul {
  list-style-type: disc;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* FONTS */
/*Stock Sight Title*/
@import url(https://fonts.googleapis.com/css?family=Julius+Sans+One);
/*Form and Main Fonts*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);

/* Mixins */
@mixin input-form($weight, $size, $width, $height){
  width: $width;
  height: $height;
  font-family: Open Sans;
  font-weight: $weight;
  font-size: $size;
  padding-left: 6px;
  letter-spacing: .5px;
  color: #333333;
}

@mixin login-buttons($width, $height){
  font-family: Open Sans;
  font-weight: 300;
  font-size: .85rem;
  margin-bottom: 5px;
  letter-spacing: .5px;
  color: #e6e6e6;
  background-color: #333333;
  width: $width;
  height: $height;
  padding: 0;
  border: none;
  border-radius: 1px;
  
  &:hover{
    color: #e6e6e6;
    background-color: #666666;
    cursor: pointer;
  }
}

@mixin icon($width, $height){
  width: $width;
  height: $height;
  display: inline-block;
  -webkit-mask-size: cover;
  mask-size: cover;
}

@mixin chart-text($size, $weight, $padding, $margin, $spacing, $color){
  font-family: Open Sans;
  font-weight: $weight;
  font-size: $size;
  padding: $padding;
  margin: $margin;
  letter-spacing: $spacing;
  color: $color;
}


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100%;
  /*background-color: #999999;*/
}

input {
  outline: none;
}

.pointer:hover {
  cursor: pointer;
}

.home {
  height: 100%;
  
  .content {
    height: 100%;
  }
  
  .home-view {
    display: block;
    position: relative;
    margin: 0 auto;
    transform: translateY(-50%);
    top: 50%;
    min-width: 310px;
    max-width: 400px;
    text-align: center;
    
    .title {
      font-family: 'Julius Sans One', sans-serif;
    }
  }
}

.login-view {
  margin-top: -15px;
  
  .create-account {
    margin-top: -25px;
  }
  
  #login-error {
    margin-bottom: 15px;
    font-size: .8rem;
  }
  
  #entry-error {
    margin-bottom: 15px;
    font-size: .8rem;
  }
  
  #password-error {
    margin-bottom: 15px;
    font-size: .8rem;
  }
  
  #username-error {
    margin-bottom: 15px;
    font-size: .8rem;
  }
  
  form {
    margin-bottom: 7px;
    input {
      /*width: 225px;
      height: 35px;*/
      margin-bottom: 6px;
      
      @include input-form(300, .85rem, 225px, 35px);
    }
  }  
}

button:active {
  outline: none;
  border: none;
}
button:focus {
  outline: none;
  border: none;
}

.login-buttons {
  .login-button {
    @include login-buttons(225px, 35px);
  }
}

/*Navigation: Bar and Stock Sight title*/
.navigation {
  background-color: #FFFFFF;
  height: 60px;
  width: 100%;
  .title-navigation {
    font-family: 'Julius Sans One', sans-serif;
    padding: 10px 0 0 18px;
  }
  .menu-title {
    float: left;
  }
}
.navigation::after {
  content: '';
  display: table;
  clear: both;
}

/*Navigation: Username and logout*/
.user-menu {
  display: flex;
  float: right;
  height: 60px;
  
  .username-title {
    margin: 16px 10px 0 0;
    font-family: Open Sans;
    font-weight: 300;
  }
  
  .logout-button {
    float: right;
    font-family: Open Sans;
    font-weight: 300;
    font-size: .8rem;
    letter-spacing: .5px;
    color: #333333;
    background-color: #FFFFFF;
    width: 80px;
    height: 60px;
    padding: 0;
    border: none;
    border-radius: 1px;
    
    &:hover{
      color: #e6e6e6;
      background-color: #333333;
      cursor: pointer;
    }
  }
}


.content {
  position: relative;
  heigth: 100%;
}
.content::after {
  content: '';
  display: table;
  clear: both;
}

/* Sidebar */
.sidebar {
  z-index: 10;
  position: fixed;
  width: 150px;
  background-color: #333;
  float: left;
  color: #FFFFFF;
  display: block;
  height: 100%;
}

.add-symbol-form input {
  @include input-form(300, .85rem, 100%, 45px);
  /*border: none;*/
  border-style: solid;
  border-width: 1px 1px 0 0;
  border-color: #d9d9d9 #f2f2f2 white white;
  padding-left: 10px;
}
.add-symbol-form button {
  width: 100%;
  height: 35px;
  font-family: Open Sans;
  font-weight: 300;
  font-size: .75rem;
  padding-left: 6px;
  letter-spacing: .5px;
  color: #FFFFFF;
  background-color: #444;
  border: none;
}
.add-symbol-form button:hover {
  color: #e6e6e6;
  background-color: #808080;
}
.add-symbol-form p {
  padding: 5px 5px 5px 7px;
  font-size: .7rem;
}

.stock-panel {
  position: relative;
  heigth: 100%;
}
.stock-panel::after {
  content: '';
  display: table;
  clear: both;
}

.stock-item {
  width: 150px;
  display: inline-block;
  height: 27px;
}
.stock-item:hover {
  width: 150px;
  background-color: #444;
  display: inline-block;
  height: 27px;
}

.stock-symbol p {
  float: left;
  margin: 2px 0px 5px 13px;
}

.minus-button {
  display: flex;
  float: right;
  height: 27px;
  width: 27px;
  margin: 0px;
  
  .minus {
    width: 20px;
    height: 20px;
    margin: 3px;
    display: inline-block;
    -webkit-mask: url(http://brettcelestre.com/code/stocksight/ios-minus-empty.svg) no-repeat 50% 50%;
    mask: url(http://brettcelestre.com/code/stocksight/ios-minus-empty.svg) no-repeat 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover;
    background-color: white;
  }
}
.minus-button:hover {
  cursor: pointer;
  background-color: #808080;
  .minus {
    cursor: pointer;
  }
}

/* Chart */
.chart {
  padding-left: 150px;
  position: fixed;
  width: 100%;
  height: 100%;
  display: block;
  background-color: #fcfcfc;
  float: right;
}
.chart-menu {
  height: 45px;
  background-color: #f2f2f2;
}
.refresh-button {
  width: 45px;
  heigth: 100%;
  padding: 6px 0 0 5px;
}
.refresh-button:hover {
  background-color: #333333;
  cursor: pointer;
  .refresh {
    background-color: white;
  }
}
.refresh {
  width: 36px;
  height: 36px;
  display: inline-block;
  -webkit-mask: url(http://brettcelestre.com/code/stocksight/ios-refresh-empty.svg) no-repeat 50% 50%;
  mask: url(http://brettcelestre.com/code/stocksight/ios-refresh-empty.svg) no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: #333;
}
.chart-content {
  /*width: 100%;*/
  max-width: 1500px;
  padding: 10px 15px 10px 15px;
}
.stock-reading {
  width: 100%;
  min-width: 600px;
  max-width: 700px;
}
.stock-read thead {
  padding-bottom: 33px;
}
.chart-header {
  @include chart-text(.95rem, 600, 0, 0, -.01rem, #333);
  /*margin-bottom: 10px;*/
}
.chart-header td {
  padding-left: 3px;
}
tbody:before {
    content: "-";
    display: block;
    line-height: .5rem;
    color: transparent;
}
.chart-body {
  @include chart-text(.88rem, 400, 0, 0, -.01rem, #333);
}
.chart-body td {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 3px;
  border-style: solid;
  border-width: 0 1px 1px 0;
  border-color: #d9d9d9;
}
.chart-body:hover {
  background-color: #f4f4f4;
}
.chart-body td:nth-child(2),
.chart-body td:nth-child(3),
.chart-body td:nth-child(4),
.chart-body td:nth-child(5), {
  padding-left: 9px;
}

/*@include chart-text($size, $weight, $padding, $margin, $spacing, $color)*/
/*Open+Sans:300,400,600,700)*/

