<div ng-controller='LoginController' class='login-view'>
  <form ng-submit='userLogin()' name='login' class='login-form'>
    <input type='text' ng-model='username' placeholder='Username' ng-change='clearError()'>
    <input type='password' ng-model='password' placeholder='Password' ng-change='clearError()'>
    <input type="submit" style='display: none;'>
  </form>
  <p id='login-error' style="display:none;">{{ loginError }}</p>
  <div class='login-buttons'>
    <button type='button' ng-click='userLogin()' class='login-button'>Login</button>
    <button type='button' ng-click='signupView()' class='login-button'>Sign Up</button>
  </div>
</div>