<div ng-controller='ChartController'>

  <div class='chart-menu'>
    <div class='refresh-button' ng-click='refreshChart()'>
      <div class='refresh'></div>
      <!-- <img id='refresh-svg' src='http://brettcelestre.com/code/stocksight/ios-refresh-empty.svg' height='35px' width='35px' ng-click='refreshChart()' class='pointer svg' /> -->
    </div>
  </div>
  
  <div class='chart-content'>
    
    <div class='stock-chart-display'>
      
      <div id='spinner'>
        <img src='http://brettcelestre.com/code/stocksight/spinner.svg' alt='Loading' width='50px' height='50px'>
      </div>
    
      <div id='chart' class='stock-reading'>
        <table>
          <thead>
            <tr>
              <td>Mutual Fund</td>
              <td>Symbol</td>
              <td>% Change</td>
              <!-- <td>10YR</td>
              <td>5YR</td>
              <td>3YR</td>
              <td>1YR</td> -->
              <td>52 W High</td>
              <td>52 W Low</td>
            </tr>
          </thead>
          <tbody>
            <tr  ng-repeat='stock in chartData'>
              <td>{{ stock.Name }}</td>
              <td>{{ stock.Symbol }}</td>
              <td>{{ stock.PercentChange }}</td>
              <!-- <td></td>
              <td></td>
              <td></td>
              <td></td> -->
              <td>{{ stock.YearHigh }}</td>
              <td>{{ stock.YearLow }}</td>
            </tr>
          </tbody>
        </table>
          
        <!-- {{ stock.Name }}<br> -->
        <!-- {{ stock.Symbol }}<br> -->
        <!-- {{ stock.PercentChange }}<br> -->
        <!-- {{ stock.YearHigh }}<br>
        {{ stock.YearLow }}<br> -->
        <h6>-------------</h6>
      </div>
    </div>
  </div>
</div>